# Rust
/target
Cargo.lock.bak

# Compiled Binairy
/build/
*.exe
*.pdb
*.dll
*.so
*.dylib

# Artifact GitHub Actions (if local build)
kb-windows-x64.exe
kb-linux-x64
kb-macos-arm64
kb-macos-x64

.kanban/

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
